<div *ngIf="loaded">
<div class="content row pr-3 pl-3 pt-3 d-print-none">
    <p class="col-md-5 text-uppercase h4">{{ data.mesec }} {{ leto }}</p>
    <p class="col-md-5 h4">{{ data.ime }}</p>
</div>
<div class="d-print-block">
    <p><span class="h6">{{ data.mesec }} {{ leto }}</span><span class="float-right h6">{{ data.ime }}</span></p>
</div>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Dan</th>
            <th>Prihod</th>
            <th>Odhod</th>
            <th>Prihod</th>
            <th>Odhod</th>
            <th>Skupaj</th>
            <th>Višina</th>
            <th>Nočna</th>
            <th>Nedelja</th>
            <th>Praznik</th>
            <th>Dopust</th>
            <th>Bolniška</th>
            <th>Prevoz</th>
            <th>Malica</th>
            <th>Dod. malica</th>
            <th>Dežurni</th>
        </tr>
    </thead>
    <tbody>
        <tr 
            *ngFor='let day of days(); let i = index' 
            [ngClass]="getDay(i+1)"
            oseba-vrstica [i]="i" 
            [prazniki]="passPrazniki()"
            [data]="passData(i+1)"></tr>
    </tbody>
</table>
</div>