    <form [formGroup]="form" class="form-row border">
        <div class="form-group col-md-2">
            <p class="ime">{{ oseba.ime }}</p>
            <p>{{ oseba.emso }}</p>
            <button class="btn btn-info">Preglej</button>
        </div>
        <div class="form-group col-md-2">
            <label for="od">Od: </label>
            <input
                [attr.disabled]="dopustJe() || bolniskaJe()"
                formControlName="od"
                type="time" 
                class="form-control" 
                placeholder="Od">
            <input 
                [attr.disabled]="dopustJe() || bolniskaJe()"
                formControlName="odd"
                type="time" 
                class="form-control" 
                placeholder="Od">
        </div>
        <div class="form-group col-md-2">
            <label for="do">Do: </label>
            <input 
                [attr.disabled]="dopustJe() || bolniskaJe()"
                formControlName="do"
                type="datetime-local" 
                class="form-control" 
                placeholder="Do">
            <input 
                [attr.disabled]="dopustJe() || bolniskaJe()"
                formControlName="dod"
                type="datetime-local" 
                class="form-control" 
                placeholder="Do">
        </div>
        <div class="form-group col-md-2">
            <label for="visinska">Višinska: </label>
            <input
                [attr.disabled]="dopustJe() || bolniskaJe()"
                formControlName="visinska"
                type="text" 
                class="form-control" 
                placeholder="Ure">
        </div>
        <div class="form-check col-md-1">
            <p>Dopust:</p>
            <input
                [attr.disabled]="bolniskaJe()"
                formControlName="dopust" 
                class="form-check-input" 
                type="checkbox" >
            <label class="form-check-label" for="dopust">D</label>
        </div>
        <div class="form-check col-md-1">
            <p>Bolniška:</p>
            <input
                [attr.disabled]="dopustJe()"
                formControlName="bolniska" 
                class="form-check-input" 
                type="checkbox" >
            <label class="form-check-label" for="bolniska">B</label>
        </div>
        <div class="form-check col-md-1">
            <br />
            <button type="submit" class="btn btn-success">Shrani</button>
        </div> 
        <div>{{ form.value | json }}</div>
    </form>
    