<td class="table-dark">&#8721;</td>
<td class="table-dark"></td>
<td class="table-dark"></td>
<td class="table-dark"></td>
<td class="table-dark"></td>
<td class="table-dark">{{ ureSkupaj }}</td>
<td class="table-dark">{{ visinskeSkupaj }}</td>
<td class="table-dark">{{ nocneSkupaj }}</td>
<td class="table-dark">{{ nedeljskeSkupaj }}</td>
<td class="table-dark">{{ praznicneSkupaj }}</td>
<td class="table-dark">{{ dopustSkupaj }}</td>
<td class="table-dark">{{ bolniskaSkupaj }}</td>
<td class="table-dark">{{ prevoziSkupaj }}</td>
<td class="table-dark">{{ malicaSkupaj }}</td>
<td class="table-dark">{{ dodatekMalicaSkupaj }} €</td>
<td class="table-dark">{{ dezurniSkupaj }}</td>
